emoji
jieba
protobuf
pythainlp
six
spacy
sudachidict-core
sudachipy
tqdm
types-emoji
types-protobuf
types-requests
types-six
typing-extensions
flake8
black
mypy
bandit
pytest
pytest-mock
pytest-cov
flake8-annotations
flake8-annotations-complexity
flake8-annotations-coverage
flake8-commas
flake8-comprehensions
flake8-debugger
flake8-docstrings
flake8-eradicate
flake8-isort
flake8-polyfill
flake8-quotes
flake8-rst-docstrings
flake8-spellcheck
flake8-string-format
flake8-type-annotations